<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Getaway</title>
    <link href="../static/css/add.css" rel="stylesheet">

    
    <link href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    rel="stylesheet">
    <link href=
    "http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css"
    rel="stylesheet">

    
    <script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type=
    "text/javascript">
    </script>
    <script src="../static/js/jquery-1.11.2.js">
    </script>
    <script src="../static/js/jquery.ui.widget.js">
    </script>
    <script src="../static/js/jquery.fileupload.js" type="text/javascript">
    </script>
    <script src="../static/js/jquery.fileupload-process.js" type=
    "text/javascript">
    </script>
    <script src="../static/js/jquery.fileupload-ui.js" type="text/javascript">
    </script>
    <script src=
    "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"
    type="text/javascript">
    </script>
    <script src=
    "http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript">
    </script>
    <script>
                $(function () {
            $('.lstFruits').multiselect({
                includeSelectAllOption: true
            });
        });
        $(function(){
                $('#fileupload').fileupload({
                    url: 'upload',
                    dataType: 'json',
                    add: function (e, data) {
                        data.submit();
                    },
                    success:function(response,status) {
                    console.log(response.filename);
                    var filePath = 'static/Uploads/' + response.filename;
                    $('#imgUpload').attr('src',filePath);
                    $('#filePath').val(filePath);
                        console.log('success');
                    },
                    error:function(error){
                        console.log(error);
                    }
                });
        })

</script>
</head>

<body id="bodyChangeContact">
    <header>
        <h3 id="logotyp"><a class="logo-start" href="/">Getaway</a></h3>
       
    </header>
    <nav>
        <ul id="nav">
            <li>
                <a href="/admin" class="a-link up"><div class="nav"><img src="../static/pictures/location.png" alt="location" id="location"><p>All locations</p></div></a>
            </li>
            <li>
                <a href="/add" class="a-link"><div class="nav"><img src="../static/pictures/add_location.png" alt="location" id="addLocation"><p>Add location</p></div></a>
            </li>
            <li id="liChangeContact">
                <a href="/changePassword" class="a-link"><div class="nav"><img src="../static/pictures/admin.png" alt="location" id="admin"><p>Admin settings</p></div></a>
            </li>
        </ul>
    </nav>
	
<content>
<div class="content">
<form action="" method="post">

		<div id="changePassw">
        <label class="labels" for="changepassword">Change password</label>
		<input type="password" placeholder="Old password" name="oldPassword" value="{{request.form.oldPassword}}">
        <input type="password" placeholder="New password" name="newPassword" value="{{request.form.newPassword}}">
        <input type="password" placeholder="Write new password again" name="newPasswordChecker" value="{{request.form.newPasswordChecker}}">
        <input type="submit" value="Change"> 
		
		{% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul id="fla" class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
		
      </form>
      </div>
	  </div>
		
  </body>
</html>