<!DOCTYPE html>
<html lang="en">

    <head>
    <title>Getaway</title>
      
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        
    <!-- JavaScript -->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/dashboard.js"></script>
       
    </head>

<body>
    
    <!-- Header -->
    <header>
        <h3 id="logotyp"><a class="logo-start" href="/">Getaway</a></h3>
        
    </header>
    
    <!-- Navigation -->
    <nav>
        <ul id="nav">
            <li>
                <a href="/admin" class="a-link up"><div class="nav"><img src="../static/pictures/location.png" alt="location" id="location"><p>All locations</p></div></a>
            </li>
            <li>
                <a href="/add" class="a-link"><div class="nav"><img src="../static/pictures/add_location.png" alt="location" id="addLocation"><p>Add location</p></div></a>
            </li>
            <li>
                <a href="/changePassword" class="a-link"><div class="nav"><img src="../static/pictures/admin.png" alt="location" id="admin"><p>Admin settings</p></div></a>
            </li>
        </ul>
    </nav>
    
<!-- Innehåll (Fylls med hjälp av dashboard.js) -->    
<content>
    
    <div class="well" id="well"></div>
    
</content>
    
</body>
</html>
