<!DOCTYPE html>

<html lang="en">
    
    <head>
        
        <title>Unauthorized Access</title>
        <link href="../static/css/unauthorized.css" rel="stylesheet">
    
    </head>
    
    <body>
        <div id="container">
            
            <div id="box">
                
                <div class="jumbotron">
        <h1>{{error}}</h1>
        
      </div>
                <p>Sorry, you do not have the authority to view this page. Return to the front page or log in.</p> 
                
 
                <a class="cool-link" href="/">Front page</a>
                <a class="cool-link" href="/login">Login</a>

            
            </div>
        </div>
    </body>
</html>